html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.Cards img {
  display: block;
  margin-bottom: 1rem;
}

.Cards strong {
  display: block;
  margin: 0 auto 1rem;
  font-size: 1.125rem;
}

.Cards dl {
  margin-bottom: 1rem;
}

.Cards dt {
  display: inline-block;
  width: 6em;
  font-style: italic;
}

.Cards dd {
  display: inline-block;
  margin: 0;
  min-width: 9em;
}

.Cards div {
  text-align: center;
}

.Cards a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #ccc;
  border-radius: 4px;
  color: #000;
  text-decoration: none;
}

.Cards a:hover {
  background-color: #333;
  color: #fff;
}

.Cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.Cards li {
  display: inline-block;
  margin: 0 .5em 1em;
  max-width: 20em;
  padding: 1em;
  background-color: #fff;
  border: 3px solid #e2e2e2;
  border-radius: 10px;
  text-align: left;
}
